DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mental_metrics?schema=public
API_PORT=4000
API_BASE_URL=http://localhost:4000
SDK_INGEST_URL=http://localhost:4000/v1/events/ingest
DEMO_PROJECT_KEY=demo_project_key
NEXT_PUBLIC_API_BASE_URL=http://localhost:4000
NEXT_PUBLIC_INGEST_URL=http://localhost:4000/v1/events/ingest
NEXT_PUBLIC_PROJECT_KEY=demo_project_key
